<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanteenRunner"
        tools:targetApi="31">
        <activity
            android:name=".Canteen.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Canteen.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ACT17Activity"
            android:exported="true" />
        <activity
            android:name=".Canteen.ACT7_Canteen_Selected"
            android:exported="true" />
        <activity
            android:name=".ACT16Activity"
            android:exported="true" />
        <activity
            android:name=".TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenActivity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenActivity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".changepasswordActivity"
            android:exported="true" />
        <activity
            android:name=".AuthenActivity.OTPActivity"
            android:exported="true" />
        <activity
            android:name=".AuthenActivity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AuthenActivity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Canteen.ACT6_Canteens"
            android:exported="true" />
        <activity
            android:name=".MyTicketActivity"
            android:exported="true" />
        <activity
            android:name=".MyHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Payment.ActivitySelectTicket"
            android:exported="true" />
        <activity
            android:name=".Activity.Payment.ActivityPayment"
            android:exported="true" />
        <activity
            android:name=".Activity.Payment.ActivityPaymentMethod"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Payment.ActivityPaymentZaloPay"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
    </application>

</manifest>